<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/freshcart-logo.svg" alt="">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item d-flex gap-3 me-3 align-items-center">
          <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram fs-5 text-dark"></i></a>
          <a target="_blank" href="https://www.facebook.com"> <i class="fab fa-facebook fs-5 text-dark"></i></a>
          <a target="_blank" href="https://www.tiktok.com"><i class="fab fa-tiktok fs-5 text-dark"></i></a>
          <a target="_blank" href="https://www.linkedin.com"><i class="fab fa-linkedin fs-5 text-dark"></i></a>
          <a target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube fs-5 text-dark"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder" routerLinkActive="text-color" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder" routerLinkActive="text-color" routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

