<div class="m-auto w-75 my-5 py-3 rounded shadow p-3 bg-main-light">
  <form [formGroup]="register" (ngSubmit)="handleRegister()">
    <div class="form-item my-3">
    <input type="text" formControlName="name" class="form-control" placeholder="Enter Your Name">
    <div *ngIf="register.get('name')?.errors && register.get('name')?.touched" class="alert alert-danger">
     <p *ngIf="register.get('name')?.getError('required')">Name Is Required</p>
     <p *ngIf="register.get('name')?.getError('minlength')">Name MinLength 3</p>
     <p *ngIf="register.get('name')?.getError('maxlength')">Name MaxLength 30</p>
    </div>
  </div>
  <div class="form-item my-3">
    <input type="email" formControlName="email"  class="form-control " placeholder="Enter Your Email">
    <div *ngIf="register.get('email')?.errors && register.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="register.get('email')?.getError('required')">email is required</p>
      <p *ngIf="register.get('email')?.getError('email')">email invalid format</p>
     </div>
  </div>
  <div class="form-item my-3">
    <input type="password" formControlName="password"  class="form-control " placeholder="Enter Your Password">
    <div *ngIf="register.get('password')?.errors && register.get('password')?.touched" class="alert alert-danger">
      <p *ngIf="register.get('password')?.getError('required')">password is required</p>
      <p *ngIf="register.get('password')?.getError('pattern')">must be at least 6 chars</p>
     </div>
  </div>
  <div class="form-item my-3">
    <input type="password" formControlName="rePassword"  class="form-control " placeholder="Enter Your rePassword">
    <div *ngIf="register.get('rePassword')?.errors && register.get('rePassword')?.touched" class="alert alert-danger">
      <p *ngIf="register.get('rePassword')?.getError('required')">rePassword is required</p>
      <p *ngIf="register.get('rePassword')?.getError('mismatch')">password confirmation is incorrect</p>
     </div>
  </div>
  <div class="form-item my-3">
    <input type="tel" formControlName="phone"  class="form-control " placeholder="Enter Your Phone">
    <div *ngIf="register.get('phone')?.errors && register.get('phone')?.touched" class="alert alert-danger">
      <p *ngIf="register.get('phone')?.getError('required')">phone is required</p>
      <p *ngIf="register.get('phone')?.getError('pattern')">accept only egypt phone numbers</p>
     </div>
  </div>
  <div *ngIf="msg" class="alert alert-danger">
    <p>{{msg}}</p>
  </div>
    <button class="btn bg-main text-white my-3" [disabled]="register.invalid">Register <span *ngIf="isLoading" class="fa fa-spin fa-spinner"></span></button>
  </form>
</div>
