.spa{
  bottom: 1px;
  right: 4px;
}

.icon1:hover
{
color: rgb(208, 43, 118) !important;
}

.icon2:hover
{
color: rgb(28, 111, 220) !important;
}

.icon3:hover
{
color:black !important;
}

.icon4:hover
{
  color: rgb(28, 111, 220) !important;

}

.icon5:hover
{
color:red !important;
}
